html,body{
    margin: 0;
    padding: 0;
    font-family: 'Rubik',sans-serif;
    background-color: rgb(233, 227, 227);
    user-select: none;
}
.container{
    display: flex;
    flex-direction: column;
    max-width: 320px;
    font-family: 'Rubik',sans-serif;
    margin: 30px auto;

}
img{
    width: 150px;
    height: 130px;
    border-radius: 50%;
    margin: 0 auto;
}
input {
    color: #432000;
    background-color: #DCE1EB;
    border: 0;
    padding: 15px;
    font-family: 'Rubik',sans-serif;
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
    margin-top: 12px;
    margin-bottom: 12px;
}
h5{
    font-family: 'Rubik',sans-serif;
    font-size: 20px;
    text-align: center;
    color: #302f2f;
    
}
button {
    color: #FDFDFD;
    background-color: #AC485A;
    border: 0;
    padding: 15px;
    font-family: 'Rubik',sans-serif;
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
}
button:hover{
    background-color: #d9c7ca;
    cursor: pointer;
}
ul{
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
ul li{
    background-color: #FFFDF8;
    padding: 10px;
    border-radius: 8px;
    flex-grow: 1;
    text-align: center;
    font-size: 20px;
    color:black;
    box-shadow: 0px 1px 4px rgba(0,0,0,0.2);
}
ul li:hover{
    background-color: #cdb1b6;
    cursor: pointer;
}